
.home-page {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

.main-content {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #fff, #ffffff);
}


/* Séparateurs entre sections */
.section-separator {
  border: none;
  border-top: 1px solid #b6b6b6;
  margin: 30px 0;
}
/* Séparateur spécifique sous Navbar */
.navbar-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 20px 0; /* espace en bas */
}

/* Sections en dessous */
.below-sections {
  padding: 20px;
}

/* Adaptation responsive mobile */
@media screen and (max-width: 768px) {
  .main-content,
  .below-sections {
    padding: 15px;
  }

  .section-separator {
    margin: 20px 0;
  }

  .home-page {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .main-content,
  .below-sections {
    padding: 10px;
  }

  .home-page {
    font-size: 13px;
  }
}
