/* Reset et styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Layout général */
.full-width {
  width: 100%;
}

/* Sections générales */
section {
  margin-bottom: 40px;
  padding: 0 20px;
}

/* Boutons globaux */
button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: #376ba3;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0081cc;
}
